<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="main">
            <directory suffix="Test.php">./tests</directory>
            <exclude>./tests/FileStorage/PerformanceTest.php</exclude>
        </testsuite>
        <testsuite name="performance">
            <file>./tests/FileStorage/PerformanceTest.php</file>
        </testsuite>
    </testsuites>
    <logging>
        <log type="testdox-text" target="./tests/phpunit.log"/>
    </logging>
</phpunit>
